agent = agent/verb-execution/verb-execution.soar

enable-lgsoar = true
lgsoar-productions = language/soarcode/load.soar
lgsoar-dictionary = language/data/link

decision-throttle-ms = 10

enable-log = true
watch-level = 1
