agent = agent/verb-execution/verb-execution.soar

enable-lgsoar = true
lgsoar-productions = lgsoar/soarcode/bolt-lgsoar.soar
lgsoar-dictionary = lgsoar/data/link

decision-throttle-ms = 10

enable-log = true
watch-level = 1
